# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.next/
out/
build/
dist/

# Lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# Cache & generated
.turbo/
.cache/
*.tsbuildinfo
next-env.d.ts

# Logs
*.log

# Editor / OS
.DS_Store
.vscode/
.idea/

# Local env
.env*.local
